<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-courses">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>My Courses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="playing-now">
      <ion-icon name="play-outline"></ion-icon>
      <ion-label>Playing now</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="ion-hide">
      <ion-label>Profile</ion-label></ion-tab-button
    > -->
  </ion-tab-bar>
</ion-tabs>
