<!-- <app-header></app-header> -->

<ion-content>
  aaa
  <!-- <ion-img
    class="presentationDashboardImage"
    src="/assets/icon/custom-icons/dashboard-presentation.png"
  >
  </ion-img> -->
  <!-- <ng-container *ngIf="didEnter"> -->
  <app-presentation-slider></app-presentation-slider>
  <!-- <app-student-courses *ngIf="isLoggedIn"></app-student-courses> -->
  <!-- <app-categories-with-slider></app-categories-with-slider>
    <app-categories-with-accordion></app-categories-with-accordion>
    <app-top-categories></app-top-categories>
    <app-categories-with-students></app-categories-with-students>
    <app-explore-top-instructors></app-explore-top-instructors>
    <app-student-reviews-slider [reviews]="reviews"></app-student-reviews-slider>
    <app-choose-the-best-method></app-choose-the-best-method>
    <app-learn-from-best></app-learn-from-best>
    <app-learning-platform></app-learning-platform>
    <app-kitc-footer></app-kitc-footer> -->
  <!-- </ng-container> -->
</ion-content>
